	rouge  {color: red;}/*mettre en couleur rouge*/
	rouge2 {color: rgb(179, 33, 55);}
	violet {color: MediumVioletRed;}
	orange  {color: DarkOrange;}
	jaune  {color: Yellow;}
	vert  {color: green;}
	bleu  {color: blue;}
	blanc {color: white;}
	
	body {text-align: center;
	background-image: url("arrière plan.jpg");
	background-repeat: all-repeat;
	background-size: 1023px 790px;
	}
	table{align: center}
	
		h1,h2,h3,h4 {opacity: 1}
		
	p,ul {background-color: rgba(130, 130, 130, 0.37);}
	

	
	fondb {background-color: black;}
	
	h1 {
  text-decoration: underline;
  color: red;
}
body {
  font-size: 28px;
}
	

	